.contact form div {
  display: flex;
  /* border-radius: 1rem; */
  /* margin: 4rem 1rem; */
}
.contact textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact input {
  margin-bottom: 20px;
  margin-right: 10px;
}
.contact form {
  padding: 30px;
}

.contact form h3 {
  font-weight: 500;
}




.contact button {
    border-radius: 5px;
    padding: 17px 30px;
    background:green;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.contact input {
    margin-bottom: 20px;
    margin-right: 10px;
}
.contact form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

.contact textarea, input {
    border: none;
    outline: none;
    background: none;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(1, 1, 1, 0.26) 0px 6px 6px;
}
@media screen and (max-width: 768px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact form div {
    flex-direction: column;
  }
  .contact input {
    width: 100%;
  }
}

.contact textarea,
input {
  border: none;
  outline: none;
  background: none;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button i {
  margin-right: 5px;
}
.contact .heading {
  text-align: center;
  width: 60%;
  margin: auto;
}
.contact .heading h1 {
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}
.contact .heading p {
  color: #72809d;
}

.contact .background {
  padding: 80px 0;
  position: relative;
  background: #f7f9fc;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.mtop {
  margin-top: 50px;
}


.padding {
  padding: 80px 0;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.contact img {
  width: 100%;
  /* height: 100%; */
  cursor: pointer;
}
.btn2 {
  border-radius: 50px;
  font-size: 20px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.btn3 {
  background: #ff6922;
  border-radius: 50px;
}
.btn4 {
  background-color: #000;
  color: #fff;
}
.btn5 {
  border-radius: 50px;
  padding: 20px 40px;
  color: var(green);
  font-size: 20px;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: #fff;
}
.back {
  height: 40vh;
  position: relative;
}
.back img {
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
.back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(17, 40, 72, 0.629);
  z-index: -1;
}
.container {
  max-width: 80%;
  /* margin: auto; */
  margin:4rem auto;
}
.back .container {
  color: #fff;
  padding: 120px 0;
}
.back h1 {
  font-size: 40px;
  font-weight: 500;
}
.mb {
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .heading {
    width: 100%;
  }
  .container {
    max-width: 90%;
  }
  .back::after,
  .back img,
  .back {
    height: 30vh;
  }
}
.footerContact{
  margin-top: 4rem;
  background-color: #27ae60;
}


